# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
lib/

# Personal Configuration and Credentials
#config.json
tools/
dependencies/
machines/
exploits/
payloads/
scripts/
templates/
# Logs and Reports
logs/